@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photo_Gallery_323</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="login-container" class="card">
            <form id="login-form" class="flex-column">
                <input type="text"
                       name="username"
                       id="username"
                       placeholder="username" />
                <input type="text"
                       id="password"
                       placeholder="password, e.g. 1 2 3.."
                       name="password" />

                <div id="sign-container">
                    <div id="sign-container-left">
                        <button type="submit"
                                class="btn"
                                onclick="login"
                                id="login">
                            This is a button
                        </button>
                    </div>
                    <div id="sign-contaier-right">
                        <a href="">content</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
