@page
@model Photo_Gallery_323.Pages.signupModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Sign up</title>
</head>
<body>
    <h1>Ons is hier by die sign up!!!!</h1>
    <div class="container">
        <form action="/" method="post">
            <input type="text" name="username" value="" placeholder="Username"/>
            <input type="password" name="password" value="" />

            <button onclick="">Create user</button>
        </form>
    </div>
</body>
</html>